@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #050624; */
}

/* Header */

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    background-color: #050624;
}

.logo {
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 150px;
    /* margin-left: -90px; */
    /* order: 3; */
}

nav {
    display: flex;
    margin: 0 0px 0 30%;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: #0088a9;
}

/* .btn {
    order: 2;
} */

.btnn {
    padding: 9px 25px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50px;
    color: #faf9f9;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: auto;
    /* margin-left: 20px; */
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.btnn2 {
    background-color: transparent;
    border-radius: 1px solid red;
    border-radius: 50px;
    padding: 9px 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

hr {
    border: 1px solid rgb(248, 2, 2);
}

/* Main Section */

main {
    background: #000;
    color: #fff;
}

.cont1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.container {
    position: relative;
    text-align: center;
    min-height: 80vh;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /* display: inline-block;
    align-items: center; */
}

.fabulous {
    font-size: 200px;
    position: relative;
    font-weight: bold;
}

.hope-container {
    position: relative;
    display: inline-block;
    padding-bottom: 0px;
}

.hope {
    font-size: 150px;
    font-weight: bold;
    margin-top: -75px;
    padding-bottom: 0px;
}

/* .hope {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
} */
/* main h1 { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px 10px 1px;
    font-size: 150px;
} */
/* .main-2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 60px;
    order: 1;
}
.main-2 span {
    color: #721d1f;
    font-family: 'Courier New', Courier, monospace;
} */

.page-img {
    position:relative;
    top: -100px;
    height: 800px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* Focus Section */
.focus {
    position: relative;
    top: -600px;
    padding-left: 10%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.focus p {
    font-size: 15px;
    font-weight: bold;
}

.services {
    background-color: #000000;
}