@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #050624; */
}

/* Header */

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    background-color: #050624;
}

.logo {
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 150px;
    /* margin-left: -90px; */
    /* order: 3; */
}

nav {
    display: flex;
    margin: 0 0px 0 30%;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: #0088a9;
}

/* .btn {
    order: 2;
} */

.btnn {
    padding: 9px 25px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50px;
    color: #faf9f9;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: auto;
    /* margin-left: 20px; */
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.btnn2 {
    background-color: transparent;
    border-radius: 1px solid red;
    border-radius: 50px;
    padding: 9px 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

hr {
    border: 1px solid #050624;
}

/* Main Section */

main {
    /* background: #000; */
    color: #fff;
}


.main-bg1 {
    background: #000;
    height: 190vh;
}

.cont1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 65px; */
    padding-top: 5%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.container {
    position: relative;
    text-align: center;
    min-height: 80vh;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /* display: inline-block;
    align-items: center; */
}

.fabulous {
    font-size: 200px;
    position: relative;
    font-weight: bold;
}

.hope-container {
    position: relative;
    display: inline-block;
    padding-bottom: 0px;
}

.hope {
    font-size: 150px;
    font-weight: bold;
    margin-top: -75px;
    padding-bottom: 0px;
}

/* .hope {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
} */
/* main h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px 10px 1px;
    font-size: 150px;
} */
/* .main-2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 60px;
    order: 1;
}
.main-2 span {
    color: #721d1f;
    font-family: 'Courier New', Courier, monospace;
} */

.page-img {
    position:relative;
    top: -100px;
    height: 800px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* Focus Section */
.focus {
    position: relative;
    top: -600px;
    padding-left: 10%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.focus p {
    font-size: 15px;
    font-weight: bold;
}

/* Services Section */

.services {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

.services-main {
    background-color: #fff;
    color: #000;
}

.services img {
    max-width: 120px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 0.5rem;
}

.services h2 {
    font-size: 70px;
    margin-bottom: 80px;
}

.service h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-bottom: 1rem;
}

.service {
    background-color: #f3ecec;
    padding: 2rem;
    border-radius: 15px;
}

.service p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    /* padding: 2rem; */
    transition: transform 0.3s;
}

#brands-focus {
    color: #fff;
    padding: 150px 100px;
    background-color: #000;
}

.brands {
    padding-bottom: 2rem;
}

.brands img {
    width: 200px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0.3rem;
}

.brands h2 {
    font-size: 70px;
    margin-bottom: 80px;
    max-width: 68%;
}

.brands-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.brands-grid img {
    width: 100%;
    max-width: 1200px;
    /* margin: 2rem; */
    border-radius: 20px;
    display: block;
}

.brands-grid {
    padding-top: 15%;
    border-radius: 20px;
    border: 1px solid #fff;
}

.brands-btnn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.brands-btnn button {
    padding: 20px;
    border-radius: 30px;
    background-color: #000;
    cursor: pointer;
}

.brands-btnn button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.brands-grid h3 {
    padding-bottom: 50px;
    padding-left: 50px;
    font-size: 35px;
    text-transform: uppercase;
}

#consults {
    margin: 5rem;
    display: flex;
    justify-content: space-between;
}

.consults-grid {
    padding-right: 40%;
}


.consults-list li {
    color: #000;
}

.consults-icon {
    border: 1px solid #000;
}

/* Element Icon */
.element-icon svg {
    color: green;
    width: 12px; /* Adjust this value as needed */
}

.wrap-icon {
    color: #fff;
}

.brands-icon {
    border: 1px solid #000;
    border-radius: 15px;
    width: 10%;
    padding: 0.2%;
}

/* Footer */

footer, .footer-links {
    background-color: red;
    color: #000;
}

.uii li a {
    color: #000;
}