@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --color-bg-dark: #050624;
    --color-bg-black: #000;
    --color-bg-light: #fff;
    --color-bg-grey: #54595F;
    --color-bg-gradient: linear-gradient(to bottom, #000066 0%, #6699ff 100%);
    --color-bg-green-gradient: linear-gradient(to bottom, #003300 36%, #009900 81%);
    --color-primary: #0088a9;
    --color-accent: #fd0303;
    --color-success: green;
    --color-border-dark: #000;
    --color-border-light: #fff;
    --color-text-dark: #000;
    --color-text-light: #fff;
    --color-text-grey: #faf9f9;
    --color-header: #edf0f1;
    --color-footer-bg: red;
    --color-footer-text: #000;
}

.brands-icon, .brands-icon1, .brands-icon3, .brands-icon5 {
    border: 1px solid var(--color-border-dark);
}

.brands-icon2, .brands-icon4, .brands-icon6 {
    border: 1px solid var(--color-border-light);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-header);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    background-color: var(--color-bg-dark);
}

.logo {
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 150px;
    /* margin-left: -90px; */
    /* order: 3; */
}

nav {
    display: flex;
    margin: 0 0px 0 30%;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: #0088a9;
}

.btnn {
    padding: 9px 25px;
    background-color: transparent;
    border: 1px solid var(--color-border-dark);
    color: var(--color-text-grey);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: auto;
    /* margin-left: 20px; */
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.btnn2 {
    background-color: transparent;
    border: 1px solid var(--color-border-light);
    border-radius: 50px;
    padding: 9px 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

hr {
    border: 1px solid var(--color-bg-dark);
}

/* Main Section */

main {
    /* background: #000; */
    color: #fff;
}


.main-bg1 {
    background: var(--color-bg-black);
    min-height: 100vh;
}

.cont1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 65px; */
    padding-top: 5%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.container {
    position: relative;
    text-align: center;
    min-height: 80vh;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /* display: inline-block;
    align-items: center; */
}

.fabulous {
    font-size: 200px;
    position: relative;
    font-weight: bold;
}

.hope-container {
    position: relative;
    display: inline-block;
    padding-bottom: 0px;
}

.hope {
    font-size: 150px;
    font-weight: bold;
    margin-top: -75px;
    padding-bottom: 0px;
}

.page-img {
    position:relative;
    top: -100px;
    height: 800px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* Focus Section */
.focus {
    position: relative;
    top: -600px;
    padding-left: 10%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.focus p {
    font-size: 15px;
    font-weight: bold;
}

/* Services Section */

.services {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

.services-main {
    background-color: var(--color-bg-light);
    color: var(--color-text-dark);
}

.services img {
    max-width: 120px;
    border: 1px solid var(--color-border-dark);
    border-radius: 20px;
    padding: 0.5rem;
}

.services h2 {
    font-size: 70px;
    margin-bottom: 80px;
}

.service h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-bottom: 1rem;
}

.service {
    background-color: #f3ecec;
    padding: 2rem;
    border-radius: 15px;
}

.service p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    /* padding: 2rem; */
    transition: transform 0.3s;
}

/* Brands */

#brands-focus {
    padding: 150px 100px;
    color: var(--color-text-light);
    background-color: var(--color-bg-black);
}

.brands {
    padding-bottom: 2rem;
}

.brands img {
    width: 200px;
    border: 1px solid var(--color-border-light);
    border-radius: 20px;
    padding: 0.3rem;
}

.brands h2 {
    font-size: 70px;
    margin-bottom: 80px;
    max-width: 68%;
}

.brands-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.brands-grid img {
    width: 100%;
    max-width: 1200px;
    /* margin: 2rem; */
    border-radius: 20px;
    display: block;
}

.brands-grid {
    padding-top: 15%;
    border-radius: 20px;
    border: 1px solid var(--color-border-light);
}

.brands-btnn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.brands-btnn button {
    padding: 20px;
    border-radius: 30px;
    background-color: var(--color-bg-black);
    cursor: pointer;
}

.brands-btnn button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.brands-grid h3 {
    padding-bottom: 50px;
    padding-left: 50px;
    font-size: 35px;
    text-transform: uppercase;
}


/* Brands-Icons */
.brands-icon {
    border-radius: 15px;
    width: 15%;
    padding: 0.2%;
}

.brands-icon1 {
    border-radius: 15px;
    width: 16%;
    padding: 0.2%;
    padding-left: 5px;
}

.brands-icon2 {
    border-radius: 15px;
    width: 15%;
    padding: 0.2%;
    padding-left: 6px;
}

.brands-icon3 {
    border-radius: 15px;
    width: 130px;
    padding: 0.2%;
    padding-left: 5px;
}

.brands-icon4 {
    border-radius: 15px;
    width: 140px;
    padding: 0.2%;
    padding-left: 5px;
}

.brands-icon5 {
    border-radius: 15px;
    width: 110px;
    padding: 0.2%;
}
.brands-icon6 {
    border-radius: 15px;
    width: 200px;
    padding: 0.5%;
    padding-left: 5px;
    font-weight: bolder;
}
/* Consults */

.consults {
    margin: 10% auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 4rem;
    transition: transform 0.3s;
}

.consults-list article ol {
    width: 100%;
    list-style: none;
    font-size: 16px;
}

.consults-list article hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.consults-list article h2 {
    margin-bottom: 20px;
}

.consults-grid h2 {
    font-size: 70px;
}

.consults-list li {
    color: #000;
    width: 100%;
}

/* Brands-Offer */
.brand-offer {
    background-color: var(--color-bg-black);
    color: var(--color-text-light);
}

.brand-offer1 {
    padding: 150px 10%;
}

/* Offer Container  */

.offer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    /* padding: 2rem; */
    transition: transform 0.3s;
}

.offer-cont {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10%;
}

.offer h3 {
    font-size: 35px;
    padding-bottom: 10px;
}

.offer p {
    padding-bottom: 20px;
}

.offer-cont hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid1 {
    background-color: var(--color-bg-dark);
}

.element-list hr {
    background-color: var(--color-accent);
}

.grid2 {
    background-color: var(--color-bg-light);
    color: var(--color-text-dark);
}

.grid3 {
    background-color: var(--color-success);
}

/* Element Icon */

.element-icon svg {
    color: var(--color-success);
    width: 12px; /* Adjust this value as needed */
}

.wrap-icon {
    color: #fff;
}

/* About Section */
.about-section {
    margin: 8rem 3rem;
}

.about-me {
    /* background: linear-gradient(to bottom, #000066 0%, #6699ff 100%); */
    width: 70%;
    min-height: 200px;
}

.about-me {
    width: 80%;
    height: 350px;
    max-width: 1200px;
    /* margin: 2rem; */
    border-radius: 20px;
    display: block;
    background: linear-gradient(to bottom, #000066 0%, #6699ff 100%);
    overflow: hidden;
}

.about-me img {
    position: relative;
    max-width: 100%;
    height: auto;
    display: block;
    /* padding-top: 20px; */
}

.discover h3 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.socials {
    display: flex;
    flex-direction: row;
    align-items: flex-center; /* or center for centered icons */
    gap: 10px; /* space between icons */
    /* justify-content: center; */
}

.socials svg {
    width: 32px;
    height: 32px;
    display: block;
}

/* About Section2 */

.section1-grid {
    background-color: var(--color-bg-black);
    color: var(--color-text-light);
    padding: 10rem;
    font: optional;
    font-weight: 100;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    transition: transform 0.3s;
}

.section2-grid {
    border-radius: 10px;
    padding: 2em;
    border: 1px solid var(--color-border-light);
    background: var(--color-bg-green-gradient);
}

.section2-grid h2 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.wrap-icon svg {
    width: 30px;
    height: 30px;
}

/* Contact Section  */

.contact-me {
    background-color: var(--color-bg-grey);
    padding: 5% 3%;
}

.contact-div {
    border-radius: 15px;
    border: 1px solid var(--color-border-dark);
    background: var(--color-bg-black);
    color: var(--color-text-light);
}

.contact-div2 {
    margin: 5% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.element-wrapper {
    margin: 3% 0;
    font-weight: bolder;
}

.element-wrap-heading {
    font-size: 70px;
}

.element-wrap-heading :last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrap-mail {
    margin-top: 5%;
    font-size: 20px;
    text-decoration: underline;
}

/* Scroll Button */
.exceptions {
    all: unset;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 50%;
    transition: opacity 0.3s;
}

#backToTop:hover {
    background-color: #555;
}


/* Footer */

footer, .footer-links {
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
}